.cart-item-container {
    height: 150px;
    border-top: 2px solid gainsboro;
    margin-left: 20px;
    margin-right: 20px;
}

.cart-item-image-container {
    display: flex;
    float: left;
    margin-left: 30px; 
}

.cart-item-info-container {
    padding: 10px;
}

.cart-item-img {
    padding: 10px;
    margin-top: 10px; 
    max-width: 120px;
    max-height: 120px;
    height: auto;
}

.cart-item-title {
    text-align: left;
    padding-left: 200px; 
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-unit-price {
    text-align: left;
    padding-left: 200px; 
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-item-qty {
    float: left;
    padding-left: 40px; 
}

.cart-item-qty-selector {
    height: 25px;
    width: 45px;
    font-size: 15px;
}

.cart-item-qty-input {
    width: 40px;
}

.cart-item-delete {
    text-align: left;
    padding-left: 260px;
    color:cornflowerblue
}

.cart-item-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}