<html>
  <head>
    <title>lens_detail</title>
  </head>

  <body>
    <table style="font-size: 10px;">
        <!-- table header -->
        <thead>
          <tr>
            <th>id</th>
            <th>model_name</th>
            <th>manufacturer</th>
            <th>retail_price</th>
            <th>num_in_stock</th>
            <th>description</th>
            <th>image</th>
          </tr>
        </thead>
        <!-- table data -->
        <tbody>
          <tr>
            <th>{{ lens.id.id }}</th>
            <th>{{ lens.id.model_name }}</th>
            <th>{{ lens.id.manufacturer }}</th>
            <th>{{ lens.id.retail_price }}</th>
            <th>{{ lens.id.num_in_stock }}</th>
            <th>{{ lens.id.description }}</th>
            <th>{{ lens.id.image }}</th>
          </tr> 
        </tbody>     
      </table>
  </body>
</html>