<html>
  <head>
    <title>product_list</title>
  </head>

  <body>
    {% load static %}
    <table style="font-size: 10px;">
      <!-- table header -->
      <thead>
        <tr>
          <th>id</th>
          <th>model_name</th>
          <th>manufacturer</th>
        </tr>
      </thead>
      <!-- table data -->
      <tbody>
        {% for product in products %}   
        <tr>
          <th>{{ product.id }}</th>
          <th>{{ product.model_name }}</th>
          <th>{{ product.retail_price }}</th>
        </tr> 
        {% endfor %} 
      </tbody>     
    </table>
  </body>
</html>
