<html>
  <head>
    <title>product_detail</title>
  </head>

  <body>
    <table style="font-size: 10px;">
        <!-- table header -->
        <thead>
          <tr>
            <th>id</th>
            <th>model_name</th>
            <th>retail_price</th>
            <th>image</th>
          </tr>
        </thead>
        <!-- table data -->
        <tbody>
          <tr>
            <th>{{ product.id }}</th>
            <th>{{ product.model_name }}</th>
            <th>{{ product.retail_price }}</th>
            <th>{{ product.image }}</th>
          </tr> 
        </tbody>     
      </table>
  </body>
</html>