<html>
  <head>
    <title>product_list</title>
  </head>

  <body>
    {% load static %}
    <table style="font-size: 10px;">
      <!-- table header -->
      <thead>
        <tr>
          <th>id</th>
          <th>model_name</th>
          <th>retail_price</th>
          <th>manufacturer</th>
          <th>image</th>
          <th>description</th>
          <th>num_in_stock</th>
        </tr>
      </thead>
      <!-- table data -->
      <tbody>
        {% for product in products %}   
        <tr>
          <th>{{ product.id }}</th>
          <th>{{ product.model_name }}</th>
          <th>{{ product.retail_price }}</th>
          <th>{{ product.manufacturer }}</th>
          <th>{{ product.image }}</th>
          <th>{{ product.description }}</th>
          <th>{{ product.num_in_stock }}</th>
        </tr> 
        {% endfor %} 
      </tbody>     
    </table>
  </body>
</html>
