<html>
  <head>
    <title>camera_list</title>
  </head>

  <body>
    {% load static %}
    <table style="font-size: 10px;">
      <!-- table header -->
      <thead>
        <tr>
          <th>id</th>
          <th>model_name</th>
          <th>model_number</th>
          <th>manufacturer</th>
          <th>retail_price</th>
          <th>num_in_stock</th>
          <th>release_date</th>
          <th>img</th>
        </tr>
      </thead>
      <!-- table data -->
      <tbody>
        {% for camera in cameras %}   
        <tr>
          <th>{{ camera.id }}</th>
          <th>{{ camera.model_name }}</th>
          <th>{{ camera.model_number }}</th>
          <th>{{ camera.manufacturer }}</th>
          <th>{{ camera.retail_price }}</th>
          <th>{{ camera.num_in_stock }}</th>
          <th>{{ camera.release_date }}</th>
          <th>{{ camera.img }}</th>
        </tr> 
        {% endfor %} 
      </tbody>     
    </table>
  </body>
</html>
