.home-item-content {
    margin: 5px;
    background-color: white;
    width: 180px;
    height: 200px;
    transition: all 0.3s ease-in-out;
    
}

.home-item-content:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: translateY(-10px);
    cursor: pointer;
}

.home-item-image-container {
    margin-top: 10px;
    height: 100px;
    padding-bottom: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.home-item-img {
    padding: 10px;
    margin-top: 10px; 
    max-width: 75px;
    max-height: 75px;
    height: auto;
}

.home-item-title {
    font-size: 10px;
}

.home-item-price {
    margin-top: 10px;
    font-size: 10px;
    color: orangered;
}